<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <div class="main_div">
            <a class="button-main" href="/upload" id="vertical-center">Upload Receipt</a>
            <a class="button-main" href="/get_receipt" >Get Receipt</a>
    </div>
</body>
</html>